{% extends 'base.html'%}
{% load widget_tweaks %}
{% block content%}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-6 shadow-sm">
                    <h1 class="text-center mb-4">Edit Message</h1>
                    <form action="{%url 'contacts:edit_contact' contact.id%}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{form.message|add_label_class:"form-lable"}}
                            {% if form.message.errors %}
                                <div class="text-danger mb-2">
                                    {{form.message.errors}}
                                </div>
                            {%endif%}
                            {{form.message|add_class:"form-control"}}
                            <button class="btn btn-primary w-100" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{%endblock%}